body{
    margin: 0 5px;
    font-family: Helvetica, Arial, sans-serif;
}

hr{
    background: gray;
    height: 2px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;

}
.body{
    width: 100%;
}

.layout-container{
    display: inline-block;
    width: 49%;
    /*border: 1px solid #f00;*/
}

/*google*/
.google-search-box-container{
    padding: 10px;
    background: #F1F1F1;
    border-bottom: 2px solid #e5e5e5;
}
.google-txt-container{
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    height: 27px;
    width: 500px;

    font: 16px arial,sans-serif;
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    line-height: normal;
}

.google-txt-container:hover{
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;

}

.google-txt{
    display: block;
    position: relative;
    padding: 5px 10px;

}

.google-btn-container{
    display: inline-block;
    margin-left: 15px;
}

.google-btn{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.google-btn{
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
    border: 1px solid #3079ed;
    color: #fff!important;
    margin: 0 0;
}

.google-btn-icon{
    color: #fff!important;
}

.google-btn-icon{
    background-image: url('http://ssl.gstatic.com/gb/images/k1_a31af7ac.png');
    background-size: 294px 45px;
}

.google-btn-icon{
    background-position: -33px 0;
    display: inline-block;
    height: 13px;
    margin: 7px 19px;
    width: 14px;
}

.google-result-count{
    padding: 20px 30px;
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #ddd;
}

.google-result-count > span{
    font-weight: bold;
}

.google-body{
    padding: 20px 40px;

}

.google-table{
    padding: 15px 0;
}

.google-table-title{
    font-size: 15px;
    line-height: 19px;
    display: block;
}

.google-cite{
    color: green;
    font-style: normal;
    font-size: 12px;
}

.google-show-more{
    text-decoration: none;
    color: #12c;
    font-weight: normal;
    font-size: 12px;
    margin: 4px;
}

.google-show-more{
    cursor: pointer;
}

.google-table-instant{
    border-spacing: 0px;
    border-collapse: collapse;
}

.google-table-instant td{
    border:solid 1px #d3d3d3;
    font-size: 11px;
    max-width: 250px;
    padding: 3px;
    vertical-align: text-top;
    word-wrap: break-word;
    min-height: 28px;
}

.new-tops{
    border-bottom: 1px solid #b9b9b9;
    font-size: 13px;
    margin: 5px 0px;
    padding-left: 10px;
}

.new-top{
    display: inline-block;
    margin: 0 0 -1px;
    border: 1px solid #b9b9b9;
    background: #efefef;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.new-top-active{
    background: #fff;
    border-bottom: 1px solid #fff;
}
